<div class="content-wrapper">
  <div class="row">


    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">


          <h1> Listes des Clients</h1>

          <!--
          <button class="btn btn-success " data-target="#add" data-toggle="modal">Ajouter Produit
            <i class="mdi mdi-plus"></i>
          </button>
          -->
          <div class="table-responsive">

            <table class="table table-striped">
              <thead>
              <tr>
                <th>
                 Nom
                </th>
                <th>
                  Prenom
                </th>
                <th>
                  Cin
                </th>
                <th>
                  Adresse
                </th>
                <th>
                  Ville
                </th>
                <th>
                  Telephone
                </th>
                <th>
                  Email
                </th>
                <th>
                  Username
                </th>
                <!--<th>-->
                  <!--Modifier-->
                <!--</th>-->
                <th>
                  Supprimer
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor=" let e of tout">
                <td >{{e.nom}}</td>
                <td>{{e.prenom}}</td>
                <td>{{e.cin}}</td>
                <td>{{e.adresse}}</td>
                <td>{{e.ville}}</td>
                <td>{{e.telephone}}</td>
                <td>{{e.email}}</td>
                <td>{{e.username}}</td>
                <!--<td data-target="#ok" data-toggle="modal">-->
                  <!--<i class='fas fa-user-edit' style='font-size:36px'    (onclick)="onUpdate(e.id,e.photo,e.nom,e.cin,e.adresse,e.ville,e.telephone,e.email,e.username)"></i>-->
                <!--</td>-->
                <td >
                  <i class="fa fa-trash" style="font-size:30px;color:red" (click)="onDelite(e.id)">

                  </i>
                </td>

              </tr>





              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
<!-------------------------------------------MODIFICATION Client (MODAL)------------------------------------->
<!--<div class=" example-modal " >-->
  <!--<div class="modal modal-primary" id="ok">-->
    <!--<div class="modal-dialog">-->
      <!--<div class="modal-content">-->
        <!--<div class="modal-header">-->
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--</div>-->
        <!--<div class="modal-body">-->

          <!--<form role="form">-->
            <!--<div class="box-body">-->
              <!--<h3>Modifier </h3>-->

              <!--<form class="forms-sample">-->
                <!--<div class="form-group">-->
                  <!--<label >Nom:</label>-->
                  <!--<textarea  class="form-control"  placeholder="Enter Nom"></textarea>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label >Prenom :</label>-->
                  <!--<textarea  class="form-control"  placeholder="Enter Prenom"></textarea>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label >Cin :</label>-->
                  <!--<textarea  class="form-control"  placeholder="Enter Numero CIN"></textarea>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label >Adresse :</label>-->
                  <!--<textarea  class="form-control"  placeholder="Enter Adresse"></textarea>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label >Ville :</label>-->
                  <!--<textarea  class="form-control"  placeholder="Enter ville"></textarea>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label >Telephone :</label>-->
                  <!--<input type="number" class="form-control"  placeholder="Numero Telephone">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label >Email:</label>-->
                  <!--<input type="text" class="form-control"  placeholder="Enter Email">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label >Username :</label>-->
                  <!--<input type="text" class="form-control"  placeholder="Enter Username">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label >Password :</label>-->
                  <!--<input type="password" class="form-control"  placeholder="Enter Password">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                  <!--<label >Repeat Password :</label>-->
                  <!--<input type="password" class="form-control"  placeholder="Repeat Password">-->
                <!--</div>-->

              <!--</form>-->

            <!--</div>-->


          <!--</form>-->


        <!--</div>-->
        <!--<div class="modal-footer">-->
          <!--<button type="submit" class="btn btn-success mr-2">Enrégistrer</button>-->
          <!--<button class="btn btn-light"  data-dismiss="modal">Annuler</button>-->
        <!--</div>-->
      <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->
<!--</div>-->
