<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Ajouter Un Produit</h2>
        <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Categorie</label>
            <input type="text" placeholder="pleaz donner Id Categorie de cette produit" formControlName="nomCategorie" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nomCategorie.errors }" />
            <div *ngIf="submitted && f.nomCategorie.errors" class="invalid-feedback">
              <div *ngIf="f.nomCategorie.errors.required">Nom Categorie is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Name</label>
            <input type="text" formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
              <div *ngIf="f.nom.errors.required">Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>{{this.photo}}</label>
            <input type="file"  id="file" class="form-control" (change)="recuperFile($event)"/>

            </div>

          <div class="form-group">
            <label>Quantite</label>
            <input type="number" formControlName="quantite" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.quantite.errors }" />
            <div *ngIf="submitted && f.quantite.errors" class="invalid-feedback">
              <div *ngIf="f.quantite.errors.required">Quantite is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Price</label>
            <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
              <div *ngIf="f.price.errors.required">Price is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Time</label>
            <input type="datetime-local" formControlName="time" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.time.errors }" />
            <div *ngIf="submitted && f.time.errors" class="invalid-feedback">
              <div *ngIf="f.time.errors.required">Time is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Status</label>
            <input type="text" formControlName="status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div *ngIf="f.status.errors.required">Price is required</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary submit-btn">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
