<div class="content-wrapper">
  <div class="row">


    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <button type="button" data-target="#ajout" data-toggle="modal" class="btn btn-success" style="height: 50px ;width: 200px" >Ajouter Un Categorie</button>

          <h1> Listes des Sous Categories</h1>

          <!--
          <button class="btn btn-success " data-target="#add" data-toggle="modal">Ajouter Produit
            <i class="mdi mdi-plus"></i>
          </button>
          -->
          <div class="table-responsive">

            <table class="table table-striped">
              <thead>
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Categorie
                </th>
                <th>
                  Name
                </th>
                <!--<th>-->
                <!--Modifier-->
                <!--</th>-->
                <th>
                  Supprimer
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor=" let e of tout">
                <td >{{e.id}}</td>
                <td >{{e.categorie.name}}</td>
                <td>{{e.name}}</td>

                <!--<td data-target="#ok" data-toggle="modal">-->
                <!--<i class='fas fa-user-edit' style='font-size:36px'    (onclick)="onUpdate(e.id,e.photo,e.nom,e.cin,e.adresse,e.ville,e.telephone,e.email,e.username)"></i>-->
                <!--</td>-->
                <td >
                  <i class="fa fa-trash" style="font-size:30px;color:red" (click)="onDelite(e.id)">

                  </i>
                </td>

              </tr>





              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="modal modal-primary" id="ajout">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid" >

          <h3>Ajouter un Categorie</h3>



          <label >Nom Categorie:</label>
          <input type="text"  class="form-control"  placeholder="Enter Nom Categorie" name="name" [(ngModel)]="sousCategorie.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
          <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors.required">Name is required</div>
          </div>



        </form>

      </div>



      <div class="modal-footer">
        <button type="submit" class="btn btn-success mr-2" (click)="onSubmit()">Enrégistrer</button>
        <button class="btn btn-light"  data-dismiss="modal" (click)="closemodal()">Annuler</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
