<header class="clearfix">
  <div id="logo">
    <img src="assets/images/logo.png">
  </div>
  <h1>INVOICE 3-2-1</h1>
  <div id="company" class="clearfix">
    <div>Company Name</div>
    <div>455 Foggy Heights,<br /> AZ 85004, US</div>
    <div>(602) 519-0450</div>
    <div><a href="mailto:company@example.com">company@example.com</a></div>
  </div>
  <div id="project">
    <div><span>PROJECT</span> Website development</div>
    <div><span>CLIENT</span> <input type="text" placeholder="Enter Nom Client"/></div>
    <div><span>ADDRESS</span> <input type="text" placeholder="Enter Adresse Client"/></div>
    <div><span>EMAIL</span> <input type="email" placeholder="Enter email Client"/></div>
    <div><span>DATE</span> <input type="datetime-local" placeholder="Enter Nom Produit"/></div>
    <div><span>DUE DATE</span> <input type="date" placeholder="Enter Date"/></div>
  </div>
</header>
<main>
  <table>
    <thead>
    <tr>
      <th class="service">Nom Produit</th>
      <th class="desc">DESCRIPTION</th>
      <th>PRICE</th>
      <th>QTY</th>
      <th>TOTAL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="service"><input type="text" placeholder="Enter Nom Produit"/> </td>
      <td class="desc"><input type="text" placeholder="Enter Votre Description"/></td>
      <td class="unit"><span>$</span><input type="number" placeholder="Enter Price" name="aa"/></td>
      <td class="qty"><input type="number" placeholder="Enter Qty" name="bb"/></td>
      <td class="total"><span>$</span><input type="number" placeholder="Total" value="aa*bb"/></td>
    </tr>



    <tr>
      <td colspan="4" class="grand total">GRAND TOTAL</td>
      <td class="grand total"><span>$</span><input type="number" placeholder="Grand Total" /></td>
    </tr>
    </tbody>
  </table>
  <div id="notices">
    <div>NOTICE:</div>
    <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
  </div>
</main>
<footer>
  Invoice was created on a computer and is valid without the signature and seal.
</footer>

