<div class="content-wrapper">

    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <button type="button" data-target="#ajouter" data-toggle="modal" class="btn btn-success" style="height: 50px ;width: 200px" >Ajouter Un Employeur</button>
          <div class="card-header">
            <strong class="card-title">Data Table</strong>
          </div>
          <div  class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-dark">
              <tr >
                <th>Cin</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Ville</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Post</th>
                <th>Salaire</th>
                <th>Username</th>
                <th>Modifier</th>
                <th>Supprimer</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let e of listeEmployeur">
                <td>{{e.cin}}</td>
                <td>{{e.nom}}</td>
                <td>{{e.prenom}}</td>
                <td>{{e.ville}}</td>
                <td>{{e.telephone}}</td>
                <td>{{e.email}}</td>
                <td>{{e.post}}</td>
                <td>${{e.salaire}}</td>
                <td>{{e.username}}</td>
                <td data-target="#edit" data-toggle="modal">
                  <i class='fas fa-user-edit' style='font-size:36px'    (click)="recuper(e.id,e.cin,e.nom,e.prenom,e.ville,e.telephone, e.email,e.post, e.salaire, e.username)"></i>
                </td>
                <td >
                  <i class="fa fa-trash" style="font-size:30px;color:red" (click)="onDelite(e.id)">

                  </i>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
     <!-- .animated -->
</div><!-- .content -->
<!--div class=" example-modal " -->
<div class="modal modal-primary" id="edit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid" novalidate>
          <div class="box-body">
            <h3>Modifier un Employeur</h3>

            <form class="forms-sample">

              <div class="form-group">
                <label >Cin :</label>
                <input type="number"  class="form-control"  placeholder="Enter le Quantite" name="cin" [(ngModel)]="employeur.cin" #cin="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cin.invalid }" required />
                <div *ngIf="f.submitted && cin.invalid" class="invalid-feedback">
                  <div *ngIf="cin.errors.required">Cin is required</div>
                </div>
              </div>

              <div class="form-group">
                <label >Name :</label>
                <input type="text"  class="form-control"  placeholder="Enter Name" name="nom" [(ngModel)]="employeur.nom" #nom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nom.invalid }" required />
                <div *ngIf="f.submitted && nom.invalid" class="invalid-feedback">
                  <div *ngIf="nom.errors.required">Name is required</div>
                </div>
              </div>

              <div class="form-group">
                <label >Prenom :</label>
                <input type="text"  class="form-control"  placeholder="Enter Prenom" name="prenom" [(ngModel)]="employeur.prenom" #prenom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && prenom.invalid }" required />
                <div *ngIf="f.submitted && prenom.invalid" class="invalid-feedback">
                  <div *ngIf="prenom.errors.required">Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label >Ville :</label>
                <input type="text" class="form-control"  placeholder="Enter Ville" name="ville" [(ngModel)]="employeur.ville" #ville="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ville.invalid }" required />
                <div *ngIf="f.submitted && ville.invalid" class="invalid-feedback">
                  <div *ngIf="ville.errors.required">Status is required</div>
                </div>
              </div>
              <div class="form-group">
                <label >Telephone :</label>
                <input type="number"  class="form-control"  placeholder="Enter le Telephone" name="telephone" [(ngModel)]="employeur.telephone" #telephone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && telephone.invalid }" required />
                <div *ngIf="f.submitted && telephone.invalid" class="invalid-feedback">
                  <div *ngIf="telephone.errors.required">Telephone is required</div>
                </div>
              </div>
              <div class="form-group">
                  <label >Email :</label>
                  <input  type="email" class="form-control"  placeholder="Enter Email" name="email" [(ngModel)]="employeur.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required />
                  <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email is inncorrect</div>
                  </div>
                </div>
              <div class="form-group">
                  <label >Post :</label>
                  <input type="text" class="form-control"  placeholder="Post" name="post" [(ngModel)]="employeur.post" #post="ngModel" [ngClass]="{ 'is-invalid': f.submitted && post.invalid }" required />
                  <div *ngIf="f.submitted && post.invalid" class="invalid-feedback">
                    <div *ngIf="post.errors.required">Post is required</div>
                  </div>
                </div>
              <div class="form-group">
                    <label >Salaire :</label>
                    <input  type="number" class="form-control"  placeholder="Enter Salaire" name="salaire" [(ngModel)]="employeur.salaire" #salaire="ngModel" [ngClass]="{ 'is-invalid': f.submitted && salaire.invalid }" required />
                    <div *ngIf="f.submitted && salaire.invalid" class="invalid-feedback">
                      <div *ngIf="salaire.errors.required">Salaire is required</div>
                    </div>
                  </div>
              <div class="form-group">
                    <label >Username :</label>
                    <input type="text" class="form-control"  placeholder="Username" name="username" [(ngModel)]="employeur.username" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />
                    <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                      <div *ngIf="username.errors.required">Username is required</div>
                    </div>
                  </div>

            </form>
          </div>


            </form>

          </div>



      <div class="modal-footer">
        <button type="submit" class="btn btn-success mr-2" (click)=" onUpdate()"  >Enrégistrer</button>
        <button class="btn btn-light"  data-dismiss="modal" (click)="closemodal()">Annuler</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--modal ajouter-->
<div class="modal modal-primary" id="ajouter">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid " novalidate>

          <div class="box-body">
            <h3>Ajouter un Employeur</h3>

            <form class="forms-sample">
              <div class="form-group">
                <label >Cin :</label>
                <input type="number"  class="form-control"  placeholder="Enter le Quantite" name="cin" [(ngModel)]="employeur.cin" #cin="ngModel" [ngClass]="{ 'is-invalid': f.submitted && cin.invalid }" required />
                <div *ngIf="f.submitted && cin.invalid" class="invalid-feedback">
                  <div *ngIf="cin.errors.required">Cin is required</div>
                </div>
              </div>

              <div class="form-group">
                <label >Name :</label>
                <input type="text"  class="form-control"  placeholder="Enter Name" name="nom" [(ngModel)]="employeur.nom" #nom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nom.invalid }" required />
                <div *ngIf="f.submitted && nom.invalid" class="invalid-feedback">
                  <div *ngIf="nom.errors.required">Name is required</div>
                </div>
              </div>

              <div class="form-group">
                <label >Prenom :</label>
                <input type="text"  class="form-control"  placeholder="Enter Prenom" name="prenom" [(ngModel)]="employeur.prenom" #prenom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && prenom.invalid }" required />
                <div *ngIf="f.submitted && prenom.invalid" class="invalid-feedback">
                  <div *ngIf="prenom.errors.required">Name is required</div>
                </div>
              </div>

              <div class="form-group">
                <label >Ville :</label>
                <input type="text" class="form-control"  placeholder="Ville" name="ville" [(ngModel)]="employeur.ville" #ville="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ville.invalid }" required />
                <div *ngIf="f.submitted && ville.invalid" class="invalid-feedback">
                  <div *ngIf="ville.errors.required">Status is required</div>
                </div>
              </div>
              <div class="form-group">
                <label >Telephone :</label>
                <input type="number"  class="form-control"  placeholder="Enter le Telephone" name="telephone" [(ngModel)]="employeur.telephone" #telephone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && telephone.invalid }" required />
                <div *ngIf="f.submitted && telephone.invalid" class="invalid-feedback">
                  <div *ngIf="telephone.errors.required">Telephone is required</div>
                </div>
              </div>
              <div class="form-group">
                <label >Email :</label>
                <input  type="email" class="form-control"  placeholder="Enter Email" name="email" [(ngModel)]="employeur.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required />
                <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                  <div *ngIf="email.errors.required">Email is required</div>
                  <div *ngIf="email.errors.email">Email is inncorrect</div>
                </div>
              </div>
              <div class="form-group">
                <label >Post :</label>
                <input type="text" class="form-control"  placeholder="Post" name="post" [(ngModel)]="employeur.post" #post="ngModel" [ngClass]="{ 'is-invalid': f.submitted && post.invalid }" required />
                <div *ngIf="f.submitted && post.invalid" class="invalid-feedback">
                  <div *ngIf="post.errors.required">Post is required</div>
                </div>
              </div>
              <div class="form-group">
                <label >Salaire :</label>
                <input  type="number" class="form-control"  placeholder="Enter Salaire" name="salaire" [(ngModel)]="employeur.salaire" #salaire="ngModel" [ngClass]="{ 'is-invalid': f.submitted && salaire.invalid }" required />
                <div *ngIf="f.submitted && salaire.invalid" class="invalid-feedback">
                  <div *ngIf="salaire.errors.required">Salaire is required</div>
                </div>
              </div>
              <div class="form-group">
                <label >Username :</label>
                <input type="text" class="form-control"  placeholder="Username" name="username" [(ngModel)]="employeur.username" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required />
                <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                  <div *ngIf="username.errors.required">Username is required</div>
                </div>
              </div>
              <div class="form-group">
                <label >Password :</label>
                <input  type="password"  class="form-control"  placeholder="Enter le Password" name="password" [(ngModel)]="employeur.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required />
                <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                  <div *ngIf="password.errors.required">Password is required</div>
                </div>
              </div>
              <div class="form-group">
                <label >ConfirmePassword :</label>
                <input  type="password" class="form-control"  placeholder="Repeat Password" name="confirmedPassword" [(ngModel)]="employeur.confirmedPassword" #confirmedPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmedPassword.invalid }" required />
                <div *ngIf="f.submitted && confirmedPassword.invalid" class="invalid-feedback">
                  <div *ngIf="confirmedPassword.errors.required">ConfirmPassword is required</div>
                  <!--<div *ngIf="confirmpassword.errors.mustMatch">ConfirmPassword is failed</div>-->
                </div>
              </div>
            </form>
          </div>


        </form>

      </div>



      <div class="modal-footer">
        <button type="submit" class="btn btn-success mr-2" (click)="onSubmit()" >Enrégistrer</button>
        <button class="btn btn-light"  data-dismiss="modal" (click)="closemodal()">Annuler</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
