<div class="content-wrapper">
  <div class="row">


    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">


           <h1> Listes des Produits</h1>

          <!--
          <button class="btn btn-success " data-target="#add" data-toggle="modal">Ajouter Produit
            <i class="mdi mdi-plus"></i>
          </button>
          -->
          <div class="table-responsive">

            <table class="table table-striped">
              <thead>
              <tr>
                <th>
                  Nom Categorie
                </th>
                <th>
                  Photo
                </th>
                <th>
                  Name
                </th>
                <th>
                  Quantite
                </th>
                <th>
                  Price
                </th>
                <th>
                  Time
                </th>
                <th>
                  Status
                </th>
                <th>
                  Modifier
                </th>
                <th>
                  Supprimer
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let e of resulta">
                <td>{{e.sousCategorie.name}}</td>
                <td ><img src="http://localhost:9000/upload/files/{{e.photo}}" height="80" width="80"></td>
                <td>{{e.nom}}</td>
                <td>{{e.quantite}}</td>
                <td>{{e.price}}</td>
                <td>{{e.time}}</td>
                <td>{{e.status}}</td>
                <td data-target="#edit" data-toggle="modal">
                  <i class="fas fa-user-edit" style="font-size:36px"    (click)="recuper(e.id,e.sousCategorie.name,e.photo,e.nom,e.quantite,e.price,e.time,e.status,e.categorie.id)"></i>
                </td>
                <td >
                  <i class="fa fa-trash" style="font-size:30px;color:red" (click)="onDelite(e.id)">

                  </i>
                </td>

              </tr>





              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

                                  <!-- Modal Edit-->


<div class=" example-modal " >
  <div class="modal modal-primary" id="edit">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">

          <form name="form" #f="ngForm" (ngSubmit)="f.form.valid" >
            <div class="box-body">
              <h3>Modifier un Produit</h3>

              <form class="forms-sample">
                <div class="form-group">
                  <label >Nom Categorie :</label>
                  <input type="text"  class="form-control"  placeholder="Enter Nom Categorie" name="name" [(ngModel)]="produit.sousCategorie.name" #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                  <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                    <div *ngIf="name.errors.required">Name is required</div>
                  </div>
                </div>

                <div class="form-group">
                  <label >Name :</label>
                  <input type="text"  class="form-control"  placeholder="Enter Name" name="nom" [(ngModel)]="produit.nom" #nom="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nom.invalid }" required />
                  <div *ngIf="f.submitted && nom.invalid" class="invalid-feedback">
                    <div *ngIf="nom.errors.required">Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label >{{this.photo}}</label>
                  <input type="file" class="form-control"  placeholder="Enter Photo" name="photo" (change)="recuperFile($event)"  />

                </div>
                <div class="form-group">
                  <label >Quantite :</label>
                  <input type="number"  class="form-control"  placeholder="Enter le Quantite" name="quantite" [(ngModel)]="produit.quantite" #quantite="ngModel" [ngClass]="{ 'is-invalid': f.submitted && quantite.invalid }" required />
                  <div *ngIf="f.submitted && quantite.invalid" class="invalid-feedback">
                    <div *ngIf="quantite.errors.required">Quantite is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label >Price :</label>
                  <input  type="number"  class="form-control"  placeholder="Enter le Price" name="price" [(ngModel)]="produit.price" #price="ngModel" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" required />
                  <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                    <div *ngIf="price.errors.required">Price is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label >Time :</label>
                  <input  type="datetime-local" class="form-control"  placeholder="Enter Time" name="time" [(ngModel)]="produit.time" #time="ngModel" [ngClass]="{ 'is-invalid': f.submitted && time.invalid }" required />
                  <div *ngIf="f.submitted && time.invalid" class="invalid-feedback">
                    <div *ngIf="time.errors.required">Time is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label >Status :</label>
                  <input type="text" class="form-control"  placeholder="Status" name="status" [(ngModel)]="produit.status" #status="ngModel" [ngClass]="{ 'is-invalid': f.submitted && status.invalid }" required />
                  <div *ngIf="f.submitted && status.invalid" class="invalid-feedback">
                    <div *ngIf="status.errors.required">Status is required</div>
                  </div>
                </div>


              </form>

            </div>


          </form>


        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success mr-2" (click)="onUpdate()" >Enrégistrer</button>
          <button class="btn btn-light"  data-dismiss="modal" (click)="closemodal()">Annuler</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
