<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Richard V.Welsh</p>
            <div>
              <small class="designation text-muted">Manager</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <button class="btn btn-success btn-block">New Project
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="menu-icon mdi mdi-television"></i>
        <span class="menu-title">Admin</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic" *ngIf="admin() || employ()">
        <i class="menu-icon mdi mdi-content-copy"></i>
        <span class="menu-title">Gestion du Stock</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="assets/pages/ui-features/buttons.html" routerLink="/home/categorie" *ngIf="admin() || employ()">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="assets/pages/ui-features/buttons.html" routerLink="/home/sousCategorie" *ngIf="admin() || employ()">sousCategories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="assets/pages/ui-features/buttons.html" routerLink="/home/produit">Consulter le stock</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="assets/pages/ui-features/typography.html" routerLink="/home/add">Saisie le produit</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a a class="nav-link" data-toggle="collapse" href="#ui-basics" aria-expanded="false" aria-controls="ui-basics" *ngIf="admin() || employ()">
        <i class="menu-icon mdi mdi-backup-restore"></i>
        <span class="menu-title">Gestion Client</span>
      </a>
      <div class="collapse" id="ui-basics">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="assets/pages/ui-features/buttons.html" routerLink="/home/client">Consulter les Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="assets/pages/ui-features/typography.html" routerLink="/home/register">Saisie Un Client</a>
          </li>
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="assets/pages/ui-features/typography.html" routerLink="/register">Modifier Un Client</a>-->
          <!--</li>-->
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link"  *ngIf="admin()">
        <i class="menu-icon mdi mdi-backup-restore"></i>
        <span class="menu-title" routerLink="/home/employeur" >Gestion Employeur</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/facture" *ngIf="admin() || employ()">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title" >Factures</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/addFacture" *ngIf="admin() || employ()">
        <i class="menu-icon mdi mdi-sticker"></i>
        <span class="menu-title">AddFacture</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-restart"></i>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="assets/pages/samples/blank-page.html"> Blank Page </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="assets/pages/samples/login.html"> Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="assets/pages/samples/register.html"> Register </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="assets/pages/samples/error-404.html"> 404 </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="assets/pages/samples/error-500.html"> 500 </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
