<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="border:1px solid #ccc">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>


    <div class="form-group">
      <label ><b>Nom</b></label>
      <input type="text" placeholder="Enter Votre Nom"  formControlName="nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
      <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
        <div *ngIf="f.nom.errors.required">Name is required</div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <label ><b>Prenom</b></label>
      <input type="text" placeholder="Enter Votre Prenom"  formControlName="prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" />
      <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
        <div *ngIf="f.prenom.errors.required">Prenom is required</div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <label ><b>Numero CIN</b></label><br>
      <input type="number" placeholder="Enter Votre Numero cin"  formControlName="cin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cin.errors }" />
      <div *ngIf="submitted && f.cin.errors" class="invalid-feedback">
        <div *ngIf="f.cin.errors.required">Cin is required</div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <label ><b>Adresse</b></label>
      <input type="text" placeholder="Enter Votre adresse"  formControlName="adresse" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }" />
      <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
        <div *ngIf="f.adresse.errors.required">Adresse is required</div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <label ><b>Ville</b></label>
      <input type="text" placeholder="Enter Votre ville" formControlName="ville" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ville.errors }" />
      <div *ngIf="submitted && f.ville.errors" class="invalid-feedback">
        <div *ngIf="f.ville.errors.required">Ville is required</div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <label ><b>Telephone</b></label>
      <input type="number" placeholder="Enter Votre telephone"  formControlName="telephone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }" />
      <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
        <div *ngIf="f.telephone.errors.required">Telephone is required</div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <label ><b>Email</b></label>
      <input type="text" placeholder="Enter Email"  formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email is incorrect</div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <label ><b>Username</b></label>
      <input type="text" placeholder="Enter Username"  formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">UserName is required</div>
      </div>
    </div>
    <br>

    <div class="form-group">
      <label ><b>Password</b></label>
      <input type="password" placeholder="Enter Password"  formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password is court(min 6 caractere)</div>
      </div>
    </div>

    <br>
    <div class="form-group">
      <label ><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password"  formControlName="confirmedPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmedPassword.errors }" />

      <div *ngIf="submitted && f.confirmedPassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmedPassword.errors.required">Password Config is required</div>
        <div *ngIf="f.confirmedPassword.errors.mustMatch">Passwords must match</div>
      </div>
    </div>

    <br>
    <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>

    <p>By creating an account you agree to our <a  style="color:dodgerblue">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" class="cancelbtn" routerLink="/">Cancel</button>
      <button type="submit"  class="signupbtn" >Sign Up</button>
    </div>
  </div>
</form>
